body {
    background: pink;
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    color: #e52b50;
  }
h1{
  color: #e52b50;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
  }
  .nav-center {
    width: 90vw;
    max-width: var(--max-width);
  }
  .nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
  }
  .nav-header img {
    width: 200px;
  }
  .nav-logo {
    display: flex;
    align-items: flex-end;
  }
  
  .nav-btn {
    padding: 0.15rem 0.75rem;
  }
  .nav-btn i {
    font-size: 1.25rem;
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
  }
  .show-links {
    height: 23.9375rem;
  }
  
  .nav-link {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    text-transform: capitalize;
    color: var(--grey-900);
    letter-spacing: var(--letterSpacing);
    padding: 1rem 0;
    border-top: 1px solid var(--grey-500);
    transition: var(--transition);
  }
  .nav-link:hover {
    color: deeppink;
  }
  
  .contact-link a {
    padding: 0.15rem 1rem;
    border-radius: 100%;
    color: #e52b50;
  }

  @media screen and (min-width: 992px) {
    .navbar {
      height: 6rem;
    }
    .nav-center {
      display: flex;
      align-items: center;
    }
    .nav-header {
      padding: 0;
      margin-right: 3rem;
      height: auto;
    }
  
    .nav-btn {
      display: none;
    }
    .nav-links {
      height: auto !important;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }
    .nav-link {
      padding: 0;
      border-top: none;
      margin-right: 1rem;
      font-size: 1rem;
    }
    .contact-link {
      margin-right: 0;
      margin-left: auto;
      /* background-color: blueviolet; */
    }
  }

  
  .page {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
  }
  .page {
    padding-top: 2rem;
    min-height: calc(100vh - (6rem + 4rem));
  }

  .page-footer {
    text-align: center;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: palevioletred;
    color: whitesmoke;
  }
  .page-footer h5 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .page-footer p {
    margin-bottom: 0;
  }
  .page-footer .footer-logo,
  .page-footer a {
    color: var(--primary-500);
  }

  .hero {
    height: 40vh;
    position: relative;
    margin-bottom: 2rem;
    background: url('../assets/Nicki3.png') center/cover no-repeat;
    border-radius: var(--borderRadius);
  }

  .hero-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: var(--borderRadius);
  }
  .hero-text {
    color:deeppink;
    text-align: center;
  }
  
  @media only screen and (min-width: 768px) {
    .hero-text h1 {
      font-size: 4rem;
      margin-bottom: 0;
    }
  }

  .tickets-container {
    display: grid;
    gap: 2rem 1rem;
  }
  
  .tickets-list {
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
  }
  .tags-container {
    order: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    /* background: blue; */
  }
  .tags-container h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  .tags-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .tags-list a {
    text-transform: capitalize;
    display: block;
    color: palevioletred;
    transition: var(--transition);
  }
  .tags-list a:hover {
    color: #e52b50;
  }
  .ticket {
    display: block;
    
  }
  .ticket-img {
    height: 15rem;
    border-radius: 10%;
    margin-bottom: 1rem;
  }
  .ticket h5 {
    margin-bottom: 0;
    margin-top: 0.25rem;
    line-height: 1;
    color: deeppink;
  }
  .ticket p {
    margin-bottom: 0;
    line-height: 1;
    color: deeppink;
    margin-top: 0.5rem;
    letter-spacing: var(--letterSpacing);
  }
  @media screen and (min-width: 576px) {
    .tickets-list {
      grid-template-columns: 1fr 1fr;
    }
    .ticket-img {
      height: 22rem;
      width: 15rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    .tickets-container {
      grid-template-columns: 200px 1fr;
      gap: 1rem;
    }
    .tickets-list {
      grid-template-columns: 1fr 1fr;
    }
  
    .ticket p {
      font-size: 0.85rem;
    }
    .tags-container {
      order: 0;
      /* background: blue; */
    }
    .tags-list {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .ticket h5 {
      font-size: 1.15rem;
    }
    .tickets-list {
      grid-template-columns: 1fr 1fr 1fr;
      
    }
  }

  
.about-page h2 {
  text-transform: none;
  font-weight: bold;
}
.about-page {
  display: grid;
  gap: 2rem 4rem;
  padding-bottom: 3rem;
}
.about-img {
  border-radius: 10%;
  height: 350px;
  width: 500px;
}

@media screen and (min-width: 992px) {
  .about-page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    align-items: center;
  }
  .about-img {
    height: 100%;
  }
}

.featured-title {
  text-align: center;
}
/*
=============== 
Contact Page
===============
*/
.contact-form {
  width: 100%;
  margin: 0;
}
.contact-container {
  display: grid;
  gap: 2rem 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  .contact-container {
    grid-template-columns: 1fr 450px;
    align-items: center;
  }
}

.tags-wrapper {
  display: grid;
  gap: 2rem;
  padding-bottom: 3rem;
}
.tag {
  background: palevioletred;
  border-radius: var(--borderRadius);
  text-align: center;
  color: var(--white);
  transition: var(--transition);
  padding: 0.75rem 0;
}
.tag:hover {
  background: #e52b50;
}
.tag h5,
.tag p {
  margin-bottom: 0;
}
.tag h5 {
  font-weight: 400;
  color: #ffe4e1;
}
.tag p{
  color: #ffe4e1;
}


@media screen and (min-width: 576px) {
  .tags-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .tags-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}